{% extends "base_generic.html" %}
{% block title %}<title>Accounting Management</title>{% endblock %}
<script>
{% block jquery %}

	{% if tiempos %}
		var back = ['rgba(54, 162, 235, 1)',
					'rgba(255, 206, 86, 1)',
					'rgba(75, 192, 192, 1)',
					'rgba(153, 102, 255, 1)',
					'rgba(255, 159, 64, 1)'];
		var color = -1;

		var ctx = document.getElementById('bytesChart').getContext('2d');
		var config = {
				type: 'pie',
				data: {
					datasets: [{
						data: [
							{% for key, valor in bytes.items %}
							{{ valor }},
							{% endfor %}
						],
						backgroundColor: [
							{% for key, valor in bytes.items %}
							back[color = color + 1],
							{% endfor %}
						],
						label: 'Bytes consumidos'
					}],
					labels: [
						{% for key, valor in bytes.items %}
						'{{ key }}',
						{% endfor %}
					]
				},
				options: {
					responsive: true
				}
			};
		var myChart = new Chart(ctx, config);
		color = -1;

		var ctx = document.getElementById('tiempoChart').getContext('2d');
		var config = {
				type: 'pie',
				data: {
					datasets: [{
						data: [
							{% for key, valor in tiempos.items %}
							{{ valor }},
							{% endfor %}
						],
						backgroundColor: [
							{% for key, valor in tiempos.items %}
							back[color = color + 1],
							{% endfor %}
						],
						label: 'Bytes consumidos'
					}],
					labels: [
						{% for key, valor in tiempos.items %}
						'{{ key }}',
						{% endfor %}
					]
				},
				options: {
					responsive: true
				}
			};
		var myChart = new Chart(ctx, config);

	{% else %}

		var defaultData = {{ bytes }};
		var labels = {{ fechas|safe }};

		var maxvalue = 5;

		{% if ip and ip_destino %}
		var title = 'Consumo de ancho de banda de {{ ip }} hacia {{ ip_destino }} en Kb';
		{% elif ip %}
		var title = 'Consumo de ancho de banda de {{ ip }} en Kb';
		{% else %}
		var title = 'Consumo de ancho de banda hacia {{ ip_destino }} en Kb';
		{% endif %}

		
		var ctx = document.getElementById('myChart').getContext('2d');
		var myChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: labels,
				datasets: [{
					label: title,
					data: defaultData,
					backgroundColor: [
						'rgba(255, 99, 132, 0.2)',
						'rgba(54, 162, 235, 0.2)',
						'rgba(255, 206, 86, 0.2)',
						'rgba(75, 192, 192, 0.2)',
						'rgba(153, 102, 255, 0.2)',
						'rgba(255, 159, 64, 0.2)'
					],
					borderColor: [
						'rgba(255, 99, 132, 1)',
						'rgba(54, 162, 235, 1)',
						'rgba(255, 206, 86, 1)',
						'rgba(75, 192, 192, 1)',
						'rgba(153, 102, 255, 1)',
						'rgba(255, 159, 64, 1)'
					],
					borderWidth: 1
				}]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true,
							suggestedMax: maxvalue,
							stepsize: 0.1
						}
					}]
				}
			}
		});

	{% endif %}


{% endblock %}
</script>

{% block subtitle %}Accounting Management{% endblock %}

{% block content %}


<form action='actualizarFlows' method='GET'>
	<button type='submit' class="btn btn-secondary"> Actualizar</button>
</form>
<form action='mostrarFlows' method='POST'>{% csrf_token %}
	<label for="ip_source"> Mostrar consumo proveniente de: </label><br>
	<input id="ip_source" type="text" name="ip_source" placeholder="IP origen">
	<label for="ip_destino"> hacia </label>
	<input id="ip_destino" type="text" name="ip_destino" placeholder="IP destino">
	<label for="fecha_ini"> del </label>
	<input id="fecha_ini" type="datetime-local" name="fecha_ini" placeholder="Fecha inicio">
	<label for="fecha_fin"> al </label>
	<input id="fecha_fin" type="datetime-local" name="fecha_fin" placeholder="Fecha fin">
	<input type="submit" value="Mostrar" class="btn btn-primary">
</form>
	

{% if ip or ip_destino %}
	{% if ip and ip_destino %}
	<div align='center'><h3>Consumo de {{ ip }} a {{ ip_destino }} de {{ fecha_ini }} a {{ fecha_fin }}</h3></div><br>
	{% elif ip %}
	<div align='center'><h3>Consumo del dispositivo {{ ip }} de {{ fecha_ini }} a {{ fecha_fin }}</h3></div><br>
	{% else %}
	<div align='center'><h3>Consumo del dispositivo {{ ip_destino }} de {{ fecha_ini }} a {{ fecha_fin }}</h3></div><br>
	{% endif %}

<canvas id="myChart" width="400" height="100"></canvas>
Consumo total: {{ bytes_total }} Kb en {{ minutos }}min {{ segundos }} s.
{% endif %}

{% if tiempos %}
<br>
<div align='center'><h3>Consumo general registrado de {{ fecha_ini }} a {{ fecha_fin }}</h3></div><br>
<div class="row">
	<div class='col-sm-6' align='center'>
		<h4>Bytes consumidos(Kb): {{ total_bytes }}</h4>
		<canvas id="bytesChart" width="150" height="100"></canvas><br>
	</div>
	<div class='col-sm-6' align='center'>
		<h4>Tiempo consumido(min): {{ total_tiempo }}</h4>
		<canvas id="tiempoChart" width="150" height="100"></canvas>
	</div>
</div>
{% endif %}
{% endblock %}