{% extends "base_generic.html" %}
{% block title %}<title>Performance Management</title>{% endblock %}

{% block subtitle %}Performance Management{% endblock %}

{% block content %}
<div class="row">
	<h4>Rendimiento del dispositivo</h4>
	<form action='mostrarPerformance' method='POST'>{% csrf_token %}
		<br><br><label for="ip_source"> Mostrar rendimiento del dispositivo: </label><br>
		<input id="ip_source" type="text" name="ip_source" placeholder="Nombre del dispositivo">
		<label for="fecha_ini"> del </label>
		<input id="fecha_ini" type="datetime-local" name="fecha_ini" placeholder="Fecha inicio">
		<label for="fecha_fin"> al </label>
		<input id="fecha_fin" type="datetime-local" name="fecha_fin" placeholder="Fecha fin">
		<input type="submit" value="Mostrar" class="btn btn-primary">
	</form>
</div>
<form action='mostrarLinks' method='GET'>
	<br><br><button type='submit' class="btn btn-secondary">10 Links</button>
</form>
	{% if interfaces %}
<h3>10 interfaces más cargadas: </h3><br>
	{% for key, valor in interfaces %}
<strong>{{ key }}</strong>: {{ valor }} bytes <br>
	{% endfor %}
	{% endif %}

	{% if valoresCPU%}
	<br>
	<div align="center"><h3>Estadísticas del dispositivo {{ ip }} de {{ fecha_ini }} a {{ fecha_fin }}</h3></div>
	<br>
	<div class='col-sm-6' align='center'>
		<canvas id="cpuChart" width="150" height="100"></canvas> <br><br>
	</div>
	{% endif %}

    {% if valoresMemoria%}
    <div class='col-sm-6' align='center'>
		<canvas id="memoriaChart" width="150" height="100"></canvas> <br><br>
	</div>
	{% endif %}

    {% if valoresInterfazIn%}
    <div align="center"><h4>Estadísticas de las interfaces</h4></div>
    <div class='col-sm-6' align='center'>
    	<h5>Bytes entrantes</h5>
		<canvas id="intinChart" width="150" height="100"></canvas> <br><br>
	</div>
	{% endif %}

     {% if valoresInterfazOut%}
    <div class='col-sm-6' align='center'>
    	<h5>Bytes salientes</h5>
		<canvas id="intoutChart" width="150" height="100"></canvas> <br><br>
	</div>
	{% endif %}
{% endblock %}

<script>
{% block jquery %}

	{% if valoresCPU%}
	var cpuData = {{ valoresCPU }};
	var cpuFechas = {{ fechasCPU|safe }};
	var cpuMaxvalue = 100;
	var cpuTitle = 'Uso del CPU';

	var ctx = document.getElementById('cpuChart').getContext('2d');
	var cpuChart = new Chart(ctx, {
		type: 'line',
		data: {
			labels: cpuFechas,
			datasets: [{
				label: cpuTitle,
				data: cpuData,
				backgroundColor: [
					'rgba(255, 99, 132, 0.2)',
					'rgba(54, 162, 235, 0.2)',
					'rgba(255, 206, 86, 0.2)',
					'rgba(75, 192, 192, 0.2)',
					'rgba(153, 102, 255, 0.2)',
					'rgba(255, 159, 64, 0.2)'
				],
				borderColor: [
					'rgba(255, 99, 132, 1)',
					'rgba(54, 162, 235, 1)',
					'rgba(255, 206, 86, 1)',
					'rgba(75, 192, 192, 1)',
					'rgba(153, 102, 255, 1)',
					'rgba(255, 159, 64, 1)'
				],
				borderWidth: 1
			}]
		},
		options: {
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true,
						suggestedMax: cpuMaxvalue,
						stepsize: 1
					}
				}]
			}
		}
	});
	{% endif %}

	{% if valoresMemoria %}
	var memoriaData = {{ valoresMemoria }};
	var memoriaFechas = {{ fechasMemoria|safe }};
	var memoriaMaxvalue = 100;
	var memoriaTitle = 'Uso de Memoria';

	var ctx = document.getElementById('memoriaChart').getContext('2d');
	var memoriaChart = new Chart(ctx, {
		type: 'line',
		data: {
			labels: memoriaFechas,
			datasets: [{
				label: memoriaTitle,
				data: memoriaData,
				backgroundColor: [
					'rgba(54, 162, 235, 0.2)',
					'rgba(255, 99, 132, 0.2)',
					'rgba(255, 206, 86, 0.2)',
					'rgba(75, 192, 192, 0.2)',
					'rgba(153, 102, 255, 0.2)',
					'rgba(255, 159, 64, 0.2)'
				],
				borderColor: [
					'rgba(54, 162, 235, 1)',
					'rgba(255, 99, 132, 1)',
					'rgba(255, 206, 86, 1)',
					'rgba(75, 192, 192, 1)',
					'rgba(153, 102, 255, 1)',
					'rgba(255, 159, 64, 1)'
				],
				borderWidth: 1
			}]
		},
		options: {
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true,
						suggestedMax: memoriaMaxvalue,
						stepsize: 1
					}
				}]
			}
		}
	});
	{% endif %}
	var border = ['rgba(54, 162, 235, 1)',
					'rgba(255, 206, 86, 1)',
					'rgba(75, 192, 192, 1)',
					'rgba(153, 102, 255, 1)',
					'rgba(255, 159, 64, 1)',
					'rgba(140, 90, 238, 1)',
					'rgba(54, 235, 20, 1)'];

	var back = ['rgba(54, 162, 235, 0.2)',
					'rgba(255, 206, 86, 0.2)',
					'rgba(75, 192, 192, 0.2)',
					'rgba(153, 102, 255, 0.2)',
					'rgba(255, 159, 64, 0.2)',
					'rgba(140, 90, 238, 0.2)',
					'rgba(54, 235, 20, 0.2)'];

	{% if valoresInterfazIn %}
    var color = -1;
    var ifInChartData =  {
			labels: {{ fechasInterfazIn|safe }},
			datasets: [
			{% for key, valor in valoresInterfazIn.items %}
			{
				label: '{{ key }}',
				data: {{ valor }},
				backgroundColor: back[color = color + 1],
				borderColor: border[color],
				borderWidth: 1
			},

			{% endfor %}
			]
		}

	var ctx = document.getElementById('intinChart').getContext('2d');
	var intinChart = new Chart(ctx, {
		type: 'bar',
		data: ifInChartData,
		options: {
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true,
						stepsize: 1
					}
				}]
			}
		}
	});
	{% endif %}

	{% if valoresInterfazOut %}
	color = -1;
	var ifOutChartData =  {
			labels: {{ fechasInterfazOut|safe }},
			datasets: [
			{% for key, valor in valoresInterfazOut.items %}
			{
				label: '{{ key }}',
				data: {{ valor }},
				backgroundColor: back[color = color + 1],
				borderColor: border[color],
				borderWidth: 1
			},

			{% endfor %}
			]
		}

	var ctx = document.getElementById('intoutChart').getContext('2d');
	var intoutChart = new Chart(ctx, {
		type: 'bar',
		data: ifOutChartData,
		options: {
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true,
						stepsize: 1
					}
				}]
			}
		}
	});
	{% endif %}

{% endblock %}
</script>