{% extends "base_generic.html" %}
{% block title %}<title>Fault Management</title>{% endblock %}
{% block subtitle %}Fault Management{% endblock %}
{% block content %}



	<form action='mostrarDispositivos' method='GET'>
		<br><button type='submit' class="btn btn-secondary"> Mostrar dispositivos </button><br>
	</form><br>
<h3>Dispositivos:</h3> <div id="texto"> {{ dispositivos|safe }} </div>

{% endblock %}

<script>
{% block jquery %}
{% if dispositivos %}
    setInterval(function() {
        document.location.reload(true)
    }, 3000)
{% endif %}
{% endblock %}
</script>