{% extends "base_generic.html" %}

{% block content %}


	<form action='obtenerInventario' method='GET'>
		<br><br><button type='submit' class="btn btn-secondary"> Obtener inventario</button>
	</form>
	<form action='verificarConfiguracion' method='GET'>
		<br><label for="dispositivo"><h4>Verificar dispositivo:</h4></label><br>
		<input id="dispositivo" type="text" name="dispositivo" placeholder="Nombre del dispositivo">
		<button type='submit' class="btn btn-secondary"> Aceptar </button>
	</form>
	{% if dispositivos %}
	<h3>Inventario:</h3> {{ dispositivos|safe }}
	{% endif %}

	{% if tabla %}
	<h3>Resultado de {{ router }}:</h3><br>
	{{ tabla|safe }}
	{% endif %}

{% endblock %}